# Dallas Restaurant Analysis

### Researcher(s):  

### Date:  February 1, 2020

### Source(s):
- [Dallas Open Data](https://www.dallasopendata.com)
- [Google](https://www.googlepalcesapi.com)
- [Yelp](https://www.yelpapi.com)

## Summary
#### The purpose of this study...
#### Analysis details (python code) is intentionally viewable.
#### Analysis will provide:
* TBD
* TBD
* TBD

## Analysis Results Overview
#### Initial Analysis ...:
  - 
  - 
  - 

#### Differences ....

*See analysis for details.*

### Possible next steps...
#### ....

## Import and clean Dallas Open Data

In [1]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json
import csv
import gmaps
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

# Google API Key
from config import gkey

# Yelp API Keys & Client ID
from config import yelp_api_key_Austin, yelp_api_key_Shane, yelp_client_id_Shane

# Configure gmaps with API key
gmaps.configure(api_key=gkey)

%matplotlib inline

In [2]:
# Load in raw Dallas Open Data
raw_dallas_open_data = 'resources/Restaurant_and_Food_Establishment_Inspections__October_2016_to_Present_.csv'

# Read and display the CSV with Pandas
raw_dallas_open_data_pd = pd.read_csv(raw_dallas_open_data, low_memory=False)
#dallas_open_data_pd.head()

In [3]:
# Clean and extract specific columns for 

restaurant_name = raw_dallas_open_data_pd['Restaurant Name'].str.extract('([a-zA-Z0-9&+."\'""\-" ]+)', expand=False).str.strip()
inspection_type = raw_dallas_open_data_pd['Inspection Type']
inspection_date = raw_dallas_open_data_pd['Inspection Date']#.astype('datetime64[ns]')
inspection_score = raw_dallas_open_data_pd['Inspection Score']
street_number = raw_dallas_open_data_pd['Street Number'].astype('str')
street_name = raw_dallas_open_data_pd['Street Name']
street_unit = raw_dallas_open_data_pd['Street Unit'].fillna('').astype('str')

# Return first 5 integers for zip  .str.replace('f', repr)
#zip_code = raw_dallas_open_data_pd['Zip Code'].str.replace('-', '1').str.slice(stop=5).astype(int)
zip_code = raw_dallas_open_data_pd['Zip Code'].str.extract('([0-9]+)', expand=False).str.strip().str.slice(stop=5).astype(int)
street_address = raw_dallas_open_data_pd['Street Address']

# Use the inspection date's month and year for inspection_month for consistency
inspection_month = raw_dallas_open_data_pd['Inspection Date'].astype('datetime64[ns]').dt.strftime('%m/1/%y')

# Dallas Open Data Given Fiscal Year Report Reported
inspection_year = raw_dallas_open_data_pd['Inspection Year']

# Check record count.  Should be 42,070
len(restaurant_name)

42070

In [4]:
#Save data tp dataframe
clean_dallas_open_data_pd = pd.DataFrame({
    'restaurant_name':restaurant_name,
    'inspection_type':inspection_type,
    'inspection_date':inspection_date,
    'inspection_score':inspection_score,
    'street_number':street_number,
    'street_name':street_name,
    'street_unit':street_unit,
    'zip_code':zip_code,
    'street_address':street_address,
    'inspection_month':inspection_month,
    'inspection_year':inspection_year
})
# Confirm expected output & record count of 42,070
#clean_dallas_open_data_pd.info
len(clean_dallas_open_data_pd)

42070

In [5]:
# Keep unique record by street address, Reformat column name for display, & save to dataframe
unique_dallas_open_data_pd = pd.DataFrame({
    'Restaurant Name':restaurant_name,
    'Inspection Type':inspection_type,
    'Inspection Date':inspection_date,
    'Inspection Score':inspection_score,
    'Street Number':street_number,
    'Street Name':street_name,
    'Street Unit':street_unit,
    'Zip':zip_code,
    'Street Address':street_address,
    'Inspection Month':inspection_month,
    'Inspection Year':inspection_year
}).drop_duplicates(subset=['Street Address'])#.reset_index(drop=True, inplace=True)

# Display dataframe (OPTIONAL)
#unique_dallas_open_data_pd

In [6]:
# Identify businesses not of interest
# Consider code refactor
unwanted_restaurants = unique_dallas_open_data_pd[
    (unique_dallas_open_data_pd['Restaurant Name'] == '7-11') |
    (unique_dallas_open_data_pd['Restaurant Name'] == '7 - ELEVEN') |
    (unique_dallas_open_data_pd['Restaurant Name'] == '7- ELEVEN') |
    (unique_dallas_open_data_pd['Restaurant Name'] == '7- ELEVEN CONVENIENCE STORE') |
    (unique_dallas_open_data_pd['Restaurant Name'] == '7-11 CONVENIENCE STORE') |
    (unique_dallas_open_data_pd['Restaurant Name'] == '7-11CONVENIENCE STORE') |
    (unique_dallas_open_data_pd['Restaurant Name'] == '7-ELEVEN') |
    (unique_dallas_open_data_pd['Restaurant Name'] == '7-ELEVEN CONVENIENCE') |
    (unique_dallas_open_data_pd['Restaurant Name'] == '7-ELEVEN CONVENIENCE STORE') |
    (unique_dallas_open_data_pd['Restaurant Name'] == '7-ELEVEN CONVENIENE STORE') |
    (unique_dallas_open_data_pd['Restaurant Name'] == '7-ELEVEN STORE') |
    (unique_dallas_open_data_pd['Restaurant Name'] == '7 ELEVEN') |
    (unique_dallas_open_data_pd['Restaurant Name'] == '7-7-ELEVEN') |
    (unique_dallas_open_data_pd['Restaurant Name'] == '99 CENTS ONLY') |
    (unique_dallas_open_data_pd['Restaurant Name'] == '99 CENTS ONLY STORE')
].index

# Drop unwanted businesses to reduce api calls to google/yelp
unique_dallas_open_data_pd.drop(unwanted_restaurants, inplace=True)

# Reset datafram index
unique_dallas_open_data_pd.reset_index(drop=True, inplace=True)

In [7]:
# Output File (CSV) for validation (OPTIONAL)
#unique_dallas_open_data_output = "./output_data/unique_bus_dal_open_data_2019.csv"

# write dataframe to the csv
#unique_dallas_open_data_pd.to_csv(unique_dallas_open_data_output, sep=',', encoding='utf-8', index=False)

In [8]:
g_lookup_pd_rn = unique_dallas_open_data_pd
g_lookup_pd_rn["Lat"] = ""
g_lookup_pd_rn["Long"] = ""
g_lookup_pd_rn["Type"] = ""
g_lookup_pd_rn["Rating"] = ""
g_lookup_pd_rn["Rating Count"] = ""

g_lookup_pd_rn

,Restaurant Name,Inspection Type,Inspection Date,Inspection Score,Street Number,Street Name,Street Unit,Zip,Street Address,Inspection Month,Inspection Year,Lat,Long,Type,Rating,Rating Count
0,FRESHII,Routine,10/31/2018,96,2414,VICTORY PARK,,75219,2414 VICTORY PARK LN,10/1/18,FY2019,,,,,
1,MICKLE CHICKEN,Routine,10/30/2019,100,3203,CAMP WISDOM,,75237,3203 W CAMP WISDOM RD,10/1/19,FY2020,,,,,
2,WORLD TRADE CENTER MARKET,Routine,11/03/2016,100,2050,STEMMONS,,75207,2050 N STEMMONS FRWY,11/1/16,FY2017,,,,,
3,DUNKIN DONUTS,Routine,10/30/2019,99,8008,HERB KELLEHER,C2174,75235,8008 HERB KELLEHER WAY STE# C2174,10/1/19,FY2020,,,,,
4,CANVAS HOTEL - 6TH FLOOR,Routine,06/11/2018,100,1325,LAMAR,,75215,1325 S LAMAR ST,06/1/18,FY2018,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6633,THE TIPSY CUPCAKE,Routine,02/27/2019,91,2400,HENDERSON,#B,75219,2400 N HENDERSON #B,02/1/19,FY2019,,,,,
6634,FOOD PLUS,Routine,02/17/2017,94,6214,SAMUELL,,75228,6214 SAMUELL BLVD,02/1/17,FY2017,,,,,
6635,TOP POT DOUGHNUTS,Routine,04/04/2017,90,2320,HOUSTON,#100,75202,2320 N HOUSTON #100,04/1/17,FY2017,,,,,
6636,LA MICHOACANA PREMIER ICE CREAM,Routine,11/12/2018,91,10325,LAKE JUNE,#550,75182,10325 LAKE JUNE RD #550,11/1/18,FY2019,,,,,
6637,CICI'S PIZZA,Routine,10/18/2016,81,18217,MIDWAY,#120,75287,18217 MIDWAY RD #120,10/1/16,FY2017,,,,,

In [11]:
# Create a copy of re-organized Data
g_lookup_pd_filter = g_lookup_pd_rn.copy()

# Filter by Inspection Score
#g_lookup_pd_filter = g_lookup_pd_filter[g_lookup_pd_filter['Inspection Score'] == 83]

# Filter by Zip
g_lookup_pd_filter = g_lookup_pd_filter[g_lookup_pd_filter['Zip'] == 75219]

g_lookup_pd_filter = g_lookup_pd_filter.reset_index()

# Returning top 50 for demonstration
g_lookup_pd_filter = g_lookup_pd_filter.head(50)

g_lookup_pd_filter

,index,Restaurant Name,Inspection Type,Inspection Date,Inspection Score,Street Number,Street Name,Street Unit,Zip,Street Address,Inspection Month,Inspection Year,Lat,Long,Type,Rating,Rating Count
0,0,FRESHII,Routine,10/31/2018,96,2414,VICTORY PARK,,75219,2414 VICTORY PARK LN,10/1/18,FY2019,,,,,
1,134,KROGER,Routine,04/27/2017,100,4142,CEDAR SPRINGS,,75219,4142 CEDAR SPRINGS RD,04/1/17,FY2017,,,,,
2,159,ZOE'S KITCHEN,Routine,05/11/2017,98,3878,OAK LAWN,#314,75219,3878 OAK LAWN #314,05/1/17,FY2017,,,,,
3,171,MANSION MAIN BAR,Routine,10/10/2017,99,2821,TURTLE CREEK,,75219,2821 TURTLE CREEK BLVD,10/1/17,FY2018,,,,,
4,190,PERSONALIZED LEARNING PREPARATORY AT SAM HOUSTON,Routine,05/23/2019,96,2827,THROCKMORTON,,75219,2827 THROCKMORTON ST,05/1/19,FY2019,,,,,
5,217,MEDRANO ELEMENTARY SCHOOL,Routine,11/04/2019,100,2221,LUCAS,,75219,2221 LUCAS DR,11/1/19,FY2020,,,,,
6,241,SILVERADO SENIOR LIVING-TURTLE CREEK,Routine,06/13/2019,97,3611,DICKASON,,75219,3611 DICKASON AVE,06/1/19,FY2019,,,,,
7,372,SAL'S PIZZA,Routine,06/12/2019,90,2525,WYCLIFF,#116,75219,2525 WYCLIFF AVE #116,06/1/19,FY2019,,,,,
8,395,SCOTTISH RITE HOSPITAL SERVERY,Routine,05/30/2019,96,2222,WELBURN,,75219,2222 WELBURN ST,05/1/19,FY2019,,,,,
9,414,MURPHYS DELI,Routine,06/13/2019,90,2323,VICTORY,#150,75219,2323 VICTORY AVE #150,06/1/19,FY2019,,,,,
10,538,BILLY CAN CAN,Routine,11/28/2018,81,2386,VICTORY PARK,,75219,2386 VICTORY PARK LN,11/1/18,FY2019,,,,,
11,640,LIQUID ZOO SPORTS & CIGAR BAR,Routine,05/21/2019,94,2506,KNIGHT,,75219,2506 KNIGHT ST,05/1/19,FY2019,,,,,
12,645,ACCENT FOOD SERVICES,Routine,11/07/2018,97,3090,OLIVE,#400,75219,3090 OLIVE ST #400,11/1/18,FY2019,,,,,
13,733,KFC,Routine,05/15/2019,95,4303,LEMMON,,75219,4303 LEMMON AVE,05/1/19,FY2019,,,,,
14,737,CHOCOLATE SECRETS,Routine,07/27/2017,98,3926,OAK LAWN,,75219,3926 OAK LAWN AVE,07/1/17,FY2017,,,,,
15,740,BUZZBREWS,Routine,06/11/2019,84,2300,VICTORY PARK,,75219,2300 VICTORY PARK LN,06/1/19,FY2019,,,,,
16,744,IMOTO-1ST FLOOR,Follow-up,06/11/2019,96,2400,VICTORY PARK,,75219,2400 VICTORY PARK LN,06/1/19,FY2019,,,,,
17,756,ROOTS PRESSED JUICES,Routine,07/11/2018,97,3527,OAK LAWN,,75219,3527 OAK LAWN AVE,07/1/18,FY2018,,,,,
18,829,JACK IN THE BOX,Routine,06/12/2019,88,4402,MAPLE,,75219,4402 MAPLE AVE,06/1/19,FY2019,,,,,
19,849,JR'S BAR,Routine,01/31/2017,97,3923,CEDAR SPRINGS,,75219,3923 CEDAR SPRINGS RD,01/1/17,FY2017,,,,,
20,878,HERO BY HG SUPPLY,Routine,05/31/2019,75,3090,OLIVE,#B100,75219,3090 OLIVE ST #B100,05/1/19,FY2019,,,,,
21,927,GREEN PAPAYA,Follow-up,05/29/2019,83,3211,OAK LAWN,#B,75219,3211 OAK LAWN AVE #B,05/1/19,FY2019,,,,,
22,929,EAST HAMPTON SANDWICH CO,Routine,05/21/2019,86,3888,OAK LAWN,#100,75219,3888 OAK LAWN AVE #100,05/1/19,FY2019,,,,,
23,952,CHEF HOUSE RESTAURANT,Routine,05/30/2019,93,4028,CEDAR SPRINGS,,75219,4028 CEDAR SPRINGS RD,05/1/19,FY2019,,,,,
24,974,TACOS Y MAS,Routine,05/23/2019,88,4123,CEDAR SPRINGS,105,75219,4123 CEDAR SPRINGS RD 105,05/1/19,FY2019,,,,,
25,975,BELMONT VILLAGE TURTLE CREEK TENANT,Routine,05/30/2019,94,3535,HALL,,75219,3535 N HALL ST,05/1/19,FY2019,,,,,
26,1031,STARBUCKS,Routine,06/11/2019,99,4780,MAPLE,,75219,4780 MAPLE AVE,06/1/19,FY2019,,,,,
27,1069,HOLY TRINITY SCHOOL,Routine,05/21/2019,94,3815,OAK LAWN,,75219,3815 OAK LAWN AVE,05/1/19,FY2019,,,,,
28,1105,WINGSTOP,Routine,05/15/2019,98,4411,LEMMON,#100,75219,4411 LEMMON AVE #100,05/1/19,FY2019,,,,,
29,1112,DICKEY'S BARBECUE PIT,Routine,06/12/2019,92,2525,WYCLIFF,#130,75219,2525 WYCLIFF AVE #130,06/1/19,FY2019,,,,,
30,1136,DIBS,Routine,10/15/2019,94,2401,VICTORY PARK,#190,75219,2401 VICTORY PARK LN #190,10/1/19,FY2020,,,,,
31,1143,EATZI'S MARKET CHEF CAFE,Routine,06/19/2019,95,3403,OAK LAWN,,75219,3403 OAK LAWN AVE,06/1/19,FY2019,,,,,
32,1194,JIMMY JOHN'S GOURMET,Routine,10/14/2019,78,2416,VICTORY PARK,#C7,75219,2416 VICTORY PARK LN #C7,10/1/19,FY2020,,,,,
33,1212,THE KATY COFFEE SHOP,Routine,10/15/2019,91,3111,HOUSTON,#100,75219,3111 N HOUSTON ST #100,10/1/19,FY2020,,,,,
34,1213,CAFE' VICTORIA,Routine,10/14/2019,89,2422,VICTORY PARK,#100,75219,2422 VICTORY PARK LN #100,10/1/19,FY2020,,,,,
35,1244,SUSHI AXIOM,Routine,10/24/2019,85,3211,OAK LAWN,#C,75219,3211 OAK LAWN AVE STE #C,10/1/19,FY2020,,,,,
36,1251,IT'SUGAR,Routine,10/15/2019,97,2401,VICTORY PARK,#170,75219,2401 VICTORY PARK LN #170,10/1/19,FY2020,,,,,
37,1260,MAPLE AND MOTOR,Routine,10/29/2019,88,4810,MAPLE,,75219,4810 MAPLE AVE,10/1/19,FY2020,,,,,
38,1271,MAGNUM DALLAS,Routine,10/24/2019,98,1820,MOCKINGBIRD,#34,75219,1820 W MOCKINGBIRD LN #34,10/1/19,FY2020,,,,,
39,1273,CANTINA EL CUBETAZO,Routine,01/24/2019,100,4736,MAPLE,,75219,4736 MAPLE AVE,01/1/19,FY2019,,,,,
40,1334,WARWICK MELROSE HOTEL EMPLOYEE CAFE,Routine,10/09/2019,94,3015,OAK LAWN,,75219,3015 OAK LAWN AVE,10/1/19,FY2020,,,,,
41,1407,BUDA JUICE,Routine,10/14/2019,92,2422,VICTORY PARK,,75219,2422 VICTORY PARK LN,10/1/19,FY2020,,,,,
42,1476,AFC SUSHI,Routine,09/23/2018,99,3878,OAKLAWN,#180B,75219,3878 OAKLAWN AVE #180B,09/1/18,FY2018,,,,,
43,1497,MARTY'S LIVE,Routine,10/27/2019,88,4207,MAPLE,,75219,4207 MAPLE AVE,10/1/19,FY2020,,,,,
44,1511,EGGSELLENT CAFE II,Routine,10/31/2019,91,4218,LEMMON,,75219,4218 LEMMON AVE,10/1/19,FY2020,,,,,
45,1518,LA MADELINE FRENCH BAKERY,Routine,10/20/2019,96,3906,LEMMON,#110,75219,3906 LEMMON AVE #110,10/1/19,FY2020,,,,,
46,1536,ACCENT FOOD SERVICES-GRANITE LEE,Routine,06/21/2019,97,3333,LEE PARK WAY,,75219,3333 LEE PARK WAY,06/1/19,FY2019,,,,,
47,1631,W HOTEL-POOL BAR,Routine,03/28/2018,99,2440,VICTORY PARK,,75219,2440 VICTORY PARK LN,03/1/18,FY2018,,,,,
48,1662,BIERNAT'S RESTAURANT,Routine,06/27/2019,80,4217,OAK LAWN,,75219,4217 OAK LAWN AVE,06/1/19,FY2019,,,,,
49,1676,SUNRISE DONUTS,Routine,12/17/2018,94,2615,OAK LAWN,#107,75219,2615 OAK LAWN AVE #107,12/1/18,FY2019,,,,,

In [12]:
# create a params dict that will be updated with new city each iteration
params = {"key": gkey}

# Loop through the g_lookup_pd_org and run a lat/long search for each city
for index, row in g_lookup_pd_filter.iterrows():
    try:
        base_url = "https://maps.googleapis.com/maps/api/geocode/json"

        street = row['Street Address']
        zip_code = row['Zip']
        restaurantname = row['Restaurant Name']
        restaurantname = restaurantname.title()

        # update address key value
        params['address'] = f"{street},{zip_code}"

        # make request
        cities_lat_lng = requests.get(base_url, params=params)

        # print the cities_lat_lng url, avoid doing for public github repos in order to avoid exposing key
        
        # convert to json
        cities_lat_lng = cities_lat_lng.json()
        
        g_lookup_pd_filter.loc[index, "Lat"] = cities_lat_lng["results"][0]["geometry"]["location"]["lat"]
        #lat = g_lookup_pd_filter.loc[index, "Lat"]
        
        g_lookup_pd_filter.loc[index, "Long"] = cities_lat_lng["results"][0]["geometry"]["location"]["lng"]
        #long = g_lookup_pd_filter.loc[index, "Long"]
        
        print(f'''[OK!] {restaurantname} found!''')            

    except:
        print(f'''[ERROR!] {restaurantname} missing field/result.''')

        
        pass

[OK!] Freshii found!
[OK!] Kroger found!
[OK!] Zoe'S Kitchen found!
[OK!] Mansion Main Bar found!
[OK!] Personalized Learning Preparatory At Sam Houston found!
[OK!] Medrano Elementary School found!
[OK!] Silverado Senior Living-Turtle Creek found!
[OK!] Sal'S Pizza found!
[OK!] Scottish Rite Hospital Servery found!
[OK!] Murphys Deli found!
[OK!] Billy Can Can found!
[OK!] Liquid Zoo Sports & Cigar Bar found!
[OK!] Accent Food Services found!
[OK!] Kfc found!
[OK!] Chocolate Secrets found!
[OK!] Buzzbrews found!
[OK!] Imoto-1St Floor found!
[OK!] Roots Pressed Juices found!
[OK!] Jack In The Box found!
[OK!] Jr'S Bar found!
[OK!] Hero By Hg Supply found!
[OK!] Green Papaya found!
[OK!] East Hampton Sandwich Co found!
[OK!] Chef House Restaurant found!
[OK!] Tacos Y Mas found!
[OK!] Belmont Village Turtle Creek Tenant found!
[OK!] Starbucks found!
[OK!] Holy Trinity School found!
[OK!] Wingstop found!
[OK!] Dickey'S Barbecue Pit found!
[OK!] Dibs found!
[OK!] Eatzi'S Market Chef Cafe found!
[OK!] Jimmy John'S Gourmet found!
[OK!] The Katy Coffee Shop found!
[OK!] Cafe' Victoria found!
[OK!] Sushi Axiom found!
[OK!] It'Sugar found!
[OK!] Maple And Motor found!
[OK!] Magnum Dallas found!
[OK!] Cantina El Cubetazo found!
[OK!] Warwick Melrose Hotel Employee Cafe found!
[OK!] Buda Juice found!
[OK!] Afc Sushi found!
[OK!] Marty'S Live found!
[OK!] Eggsellent Cafe Ii found!
[OK!] La Madeline French Bakery found!
[OK!] Accent Food Services-Granite Lee found!
[OK!] W Hotel-Pool Bar found!
[OK!] Biernat'S Restaurant found!
[OK!] Sunrise Donuts found!

In [13]:
# params dictionary to update each iteration
# radius of 50 has been giving me a 90% match for Type, Rating, and Rating Count
params = {
    "radius": 50,
    "types": "restaurant",
    "key": gkey
}

# Use the lat/lng we recovered to identify airports
for index, row in g_lookup_pd_filter.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Long"]
    restaurantname = row["Restaurant Name"]
    restaurantname = restaurantname.title()

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
#     print the name_address url, avoid doing for public github repos in order to avoid exposing key
#     print(name_address.url)

    # convert to json
    name_address = name_address.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))
    
    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        g_lookup_pd_filter.loc[index, "Type"] = name_address["results"][0]["types"][0].title()
        g_lookup_pd_filter.loc[index, "Rating"] = name_address["results"][0]["rating"]
        g_lookup_pd_filter.loc[index, "Rating Count"] = name_address["results"][0]["user_ratings_total"]
        
        print(f'''[OK!] {restaurantname} found!''')
        
    
    except (KeyError, IndexError):
        print(f'''[ERROR!] {restaurantname} missing field/result.''')

[OK!] Freshii found!
[ERROR!] Kroger missing field/result.
[OK!] Zoe'S Kitchen found!
[OK!] Mansion Main Bar found!
[ERROR!] Personalized Learning Preparatory At Sam Houston missing field/result.
[ERROR!] Medrano Elementary School missing field/result.
[ERROR!] Silverado Senior Living-Turtle Creek missing field/result.
[OK!] Sal'S Pizza found!
[ERROR!] Scottish Rite Hospital Servery missing field/result.
[OK!] Murphys Deli found!
[OK!] Billy Can Can found!
[OK!] Liquid Zoo Sports & Cigar Bar found!
[OK!] Accent Food Services found!
[OK!] Kfc found!
[OK!] Chocolate Secrets found!
[OK!] Buzzbrews found!
[OK!] Imoto-1St Floor found!
[OK!] Roots Pressed Juices found!
[OK!] Jack In The Box found!
[OK!] Jr'S Bar found!
[OK!] Hero By Hg Supply found!
[OK!] Green Papaya found!
[ERROR!] East Hampton Sandwich Co missing field/result.
[OK!] Chef House Restaurant found!
[OK!] Tacos Y Mas found!
[ERROR!] Belmont Village Turtle Creek Tenant missing field/result.
[OK!] Starbucks found!
[ERROR!] Holy Trinity School missing field/result.
[OK!] Wingstop found!
[OK!] Dickey'S Barbecue Pit found!
[OK!] Dibs found!
[OK!] Eatzi'S Market Chef Cafe found!
[OK!] Jimmy John'S Gourmet found!
[ERROR!] The Katy Coffee Shop missing field/result.
[OK!] Cafe' Victoria found!
[OK!] Sushi Axiom found!
[OK!] It'Sugar found!
[OK!] Maple And Motor found!
[OK!] Magnum Dallas found!
[OK!] Cantina El Cubetazo found!
[OK!] Warwick Melrose Hotel Employee Cafe found!
[OK!] Buda Juice found!
[OK!] Afc Sushi found!
[ERROR!] Marty'S Live missing field/result.
[OK!] Eggsellent Cafe Ii found!
[ERROR!] La Madeline French Bakery missing field/result.
[ERROR!] Accent Food Services-Granite Lee missing field/result.
[OK!] W Hotel-Pool Bar found!
[OK!] Biernat'S Restaurant found!
[OK!] Sunrise Donuts found!

In [14]:
g_lookup_pd_filter

,index,Restaurant Name,Inspection Type,Inspection Date,Inspection Score,Street Number,Street Name,Street Unit,Zip,Street Address,Inspection Month,Inspection Year,Lat,Long,Type,Rating,Rating Count
0,0,FRESHII,Routine,10/31/2018,96,2414,VICTORY PARK,,75219,2414 VICTORY PARK LN,10/1/18,FY2019,32.7879,-96.8092,Restaurant,4.1,100
1,134,KROGER,Routine,04/27/2017,100,4142,CEDAR SPRINGS,,75219,4142 CEDAR SPRINGS RD,04/1/17,FY2017,32.8134,-96.8121,,,
2,159,ZOE'S KITCHEN,Routine,05/11/2017,98,3878,OAK LAWN,#314,75219,3878 OAK LAWN #314,05/1/17,FY2017,32.8155,-96.8007,Restaurant,4.2,334
3,171,MANSION MAIN BAR,Routine,10/10/2017,99,2821,TURTLE CREEK,,75219,2821 TURTLE CREEK BLVD,10/1/17,FY2018,32.8041,-96.8073,Bar,4.6,433
4,190,PERSONALIZED LEARNING PREPARATORY AT SAM HOUSTON,Routine,05/23/2019,96,2827,THROCKMORTON,,75219,2827 THROCKMORTON ST,05/1/19,FY2019,32.8102,-96.8131,,,
5,217,MEDRANO ELEMENTARY SCHOOL,Routine,11/04/2019,100,2221,LUCAS,,75219,2221 LUCAS DR,11/1/19,FY2020,32.8088,-96.8266,,,
6,241,SILVERADO SENIOR LIVING-TURTLE CREEK,Routine,06/13/2019,97,3611,DICKASON,,75219,3611 DICKASON AVE,06/1/19,FY2019,32.807,-96.8083,,,
7,372,SAL'S PIZZA,Routine,06/12/2019,90,2525,WYCLIFF,#116,75219,2525 WYCLIFF AVE #116,06/1/19,FY2019,32.811,-96.8191,Restaurant,4,232
8,395,SCOTTISH RITE HOSPITAL SERVERY,Routine,05/30/2019,96,2222,WELBURN,,75219,2222 WELBURN ST,05/1/19,FY2019,32.8023,-96.8139,,,
9,414,MURPHYS DELI,Routine,06/13/2019,90,2323,VICTORY,#150,75219,2323 VICTORY AVE #150,06/1/19,FY2019,32.7856,-96.8106,Restaurant,1,1
10,538,BILLY CAN CAN,Routine,11/28/2018,81,2386,VICTORY PARK,,75219,2386 VICTORY PARK LN,11/1/18,FY2019,32.7872,-96.8094,Restaurant,4.5,304
11,640,LIQUID ZOO SPORTS & CIGAR BAR,Routine,05/21/2019,94,2506,KNIGHT,,75219,2506 KNIGHT ST,05/1/19,FY2019,32.8075,-96.8171,Night_Club,4.4,223
12,645,ACCENT FOOD SERVICES,Routine,11/07/2018,97,3090,OLIVE,#400,75219,3090 OLIVE ST #400,11/1/18,FY2019,32.7894,-96.8099,Restaurant,4.5,407
13,733,KFC,Routine,05/15/2019,95,4303,LEMMON,,75219,4303 LEMMON AVE,05/1/19,FY2019,32.8167,-96.8119,Restaurant,3.6,407
14,737,CHOCOLATE SECRETS,Routine,07/27/2017,98,3926,OAK LAWN,,75219,3926 OAK LAWN AVE,07/1/17,FY2017,32.8171,-96.8021,Night_Club,4.7,440
15,740,BUZZBREWS,Routine,06/11/2019,84,2300,VICTORY PARK,,75219,2300 VICTORY PARK LN,06/1/19,FY2019,32.7855,-96.8094,Bar,4.7,427
16,744,IMOTO-1ST FLOOR,Follow-up,06/11/2019,96,2400,VICTORY PARK,,75219,2400 VICTORY PARK LN,06/1/19,FY2019,32.7875,-96.8091,Restaurant,4.6,160
17,756,ROOTS PRESSED JUICES,Routine,07/11/2018,97,3527,OAK LAWN,,75219,3527 OAK LAWN AVE,07/1/18,FY2018,32.8127,-96.8051,Restaurant,4,60
18,829,JACK IN THE BOX,Routine,06/12/2019,88,4402,MAPLE,,75219,4402 MAPLE AVE,06/1/19,FY2019,32.8106,-96.8211,Restaurant,3.7,694
19,849,JR'S BAR,Routine,01/31/2017,97,3923,CEDAR SPRINGS,,75219,3923 CEDAR SPRINGS RD,01/1/17,FY2017,32.8108,-96.8113,Restaurant,3.4,159
20,878,HERO BY HG SUPPLY,Routine,05/31/2019,75,3090,OLIVE,#B100,75219,3090 OLIVE ST #B100,05/1/19,FY2019,32.7894,-96.8099,Restaurant,4.5,407
21,927,GREEN PAPAYA,Follow-up,05/29/2019,83,3211,OAK LAWN,#B,75219,3211 OAK LAWN AVE #B,05/1/19,FY2019,32.8103,-96.8083,Restaurant,4.4,277
22,929,EAST HAMPTON SANDWICH CO,Routine,05/21/2019,86,3888,OAK LAWN,#100,75219,3888 OAK LAWN AVE #100,05/1/19,FY2019,32.816,-96.8014,,,
23,952,CHEF HOUSE RESTAURANT,Routine,05/30/2019,93,4028,CEDAR SPRINGS,,75219,4028 CEDAR SPRINGS RD,05/1/19,FY2019,32.8118,-96.8116,Meal_Delivery,3.4,154
24,974,TACOS Y MAS,Routine,05/23/2019,88,4123,CEDAR SPRINGS,105,75219,4123 CEDAR SPRINGS RD 105,05/1/19,FY2019,32.8115,-96.8129,Meal_Delivery,4.2,237
25,975,BELMONT VILLAGE TURTLE CREEK TENANT,Routine,05/30/2019,94,3535,HALL,,75219,3535 N HALL ST,05/1/19,FY2019,32.8076,-96.8054,,,
26,1031,STARBUCKS,Routine,06/11/2019,99,4780,MAPLE,,75219,4780 MAPLE AVE,06/1/19,FY2019,32.815,-96.8263,Bar,3.8,15
27,1069,HOLY TRINITY SCHOOL,Routine,05/21/2019,94,3815,OAK LAWN,,75219,3815 OAK LAWN AVE,05/1/19,FY2019,32.8156,-96.8034,,,
28,1105,WINGSTOP,Routine,05/15/2019,98,4411,LEMMON,#100,75219,4411 LEMMON AVE #100,05/1/19,FY2019,32.8182,-96.8135,Restaurant,3.9,380
29,1112,DICKEY'S BARBECUE PIT,Routine,06/12/2019,92,2525,WYCLIFF,#130,75219,2525 WYCLIFF AVE #130,06/1/19,FY2019,32.811,-96.8191,Restaurant,4,232
30,1136,DIBS,Routine,10/15/2019,94,2401,VICTORY PARK,#190,75219,2401 VICTORY PARK LN #190,10/1/19,FY2020,32.7881,-96.81,Bar,4.1,124
31,1143,EATZI'S MARKET CHEF CAFE,Routine,06/19/2019,95,3403,OAK LAWN,,75219,3403 OAK LAWN AVE,06/1/19,FY2019,32.8116,-96.8066,Bakery,4.6,1990
32,1194,JIMMY JOHN'S GOURMET,Routine,10/14/2019,78,2416,VICTORY PARK,#C7,75219,2416 VICTORY PARK LN #C7,10/1/19,FY2020,32.788,-96.8092,Restaurant,4.1,100
33,1212,THE KATY COFFEE SHOP,Routine,10/15/2019,91,3111,HOUSTON,#100,75219,3111 N HOUSTON ST #100,10/1/19,FY2020,32.7944,-96.8134,,,
34,1213,CAFE' VICTORIA,Routine,10/14/2019,89,2422,VICTORY PARK,#100,75219,2422 VICTORY PARK LN #100,10/1/19,FY2020,32.7883,-96.8092,Bar,4,103
35,1244,SUSHI AXIOM,Routine,10/24/2019,85,3211,OAK LAWN,#C,75219,3211 OAK LAWN AVE STE #C,10/1/19,FY2020,32.8103,-96.8083,Restaurant,4.4,277
36,1251,IT'SUGAR,Routine,10/15/2019,97,2401,VICTORY PARK,#170,75219,2401 VICTORY PARK LN #170,10/1/19,FY2020,32.7881,-96.81,Bar,4.1,124
37,1260,MAPLE AND MOTOR,Routine,10/29/2019,88,4810,MAPLE,,75219,4810 MAPLE AVE,10/1/19,FY2020,32.8152,-96.8271,Restaurant,4.6,1870
38,1271,MAGNUM DALLAS,Routine,10/24/2019,98,1820,MOCKINGBIRD,#34,75219,1820 W MOCKINGBIRD LN #34,10/1/19,FY2020,32.8217,-96.8541,Restaurant,4.6,713
39,1273,CANTINA EL CUBETAZO,Routine,01/24/2019,100,4736,MAPLE,,75219,4736 MAPLE AVE,01/1/19,FY2019,32.8147,-96.8263,Bar,3.8,15
40,1334,WARWICK MELROSE HOTEL EMPLOYEE CAFE,Routine,10/09/2019,94,3015,OAK LAWN,,75219,3015 OAK LAWN AVE,10/1/19,FY2020,32.8089,-96.8094,Bar,4.5,142
41,1407,BUDA JUICE,Routine,10/14/2019,92,2422,VICTORY PARK,,75219,2422 VICTORY PARK LN,10/1/19,FY2020,32.7883,-96.8092,Bar,4,103
42,1476,AFC SUSHI,Routine,09/23/2018,99,3878,OAKLAWN,#180B,75219,3878 OAKLAWN AVE #180B,09/1/18,FY2018,32.8155,-96.8007,Restaurant,4.2,334
43,1497,MARTY'S LIVE,Routine,10/27/2019,88,4207,MAPLE,,75219,4207 MAPLE AVE,10/1/19,FY2020,32.8074,-96.8182,,,
44,1511,EGGSELLENT CAFE II,Routine,10/31/2019,91,4218,LEMMON,,75219,4218 LEMMON AVE,10/1/19,FY2020,32.8166,-96.8105,Restaurant,3,2
45,1518,LA MADELINE FRENCH BAKERY,Routine,10/20/2019,96,3906,LEMMON,#110,75219,3906 LEMMON AVE #110,10/1/19,FY2020,32.8133,-96.8067,,,
46,1536,ACCENT FOOD SERVICES-GRANITE LEE,Routine,06/21/2019,97,3333,LEE PARK WAY,,75219,3333 LEE PARK WAY,06/1/19,FY2019,32.8094,-96.8053,,,
47,1631,W HOTEL-POOL BAR,Routine,03/28/2018,99,2440,VICTORY PARK,,75219,2440 VICTORY PARK LN,03/1/18,FY2018,32.7887,-96.809,Bar,4,103
48,1662,BIERNAT'S RESTAURANT,Routine,06/27/2019,80,4217,OAK LAWN,,75219,4217 OAK LAWN AVE,06/1/19,FY2019,32.8203,-96.8027,Restaurant,4.7,1000
49,1676,SUNRISE DONUTS,Routine,12/17/2018,94,2615,OAK LAWN,#107,75219,2615 OAK LAWN AVE #107,12/1/18,FY2019,32.8059,-96.813,Meal_Delivery,3.9,232

In [15]:
# Save as CSV complete DoD/Google dataset (OPTION)
#g_lookup_pd_filter.to_csv("./output_data/Google Lat Long Results.csv")

# Save as CSV filtered DoD/Google dataset.  E.g. Restaurant/Bar/Cafe
#g_lookup_pd_filter.to_csv("./output_data/Google Lat Long Results_RestBarCafe.csv")


# Import DoD/Google CSV (OPTION)
#dallas_open_data = "./output_data/Google Lat Long Results_RestBarCafe.csv"
#dallas_open_data_df = pd.read_csv(dallas_open_data, dtype="object", encoding="utf-8")

# set output CSV data file filepath variable
output_data_filepath = "output_data/"

In [21]:
# import Dallas Open Data CSV data file (with lat/lng added;
# obtained from Google API) into dataframe & visualize data frame

# Option to filter for 'Type' here?
dallas_open_data_df = g_lookup_pd_filter
dallas_open_data_df.head()

,index,Restaurant Name,Inspection Type,Inspection Date,Inspection Score,Street Number,Street Name,Street Unit,Zip,Street Address,Inspection Month,Inspection Year,Lat,Long,Type,Rating,Rating Count
0,0,FRESHII,Routine,10/31/2018,96,2414,VICTORY PARK,,75219,2414 VICTORY PARK LN,10/1/18,FY2019,32.7879,-96.8092,Restaurant,4.1,100
1,134,KROGER,Routine,04/27/2017,100,4142,CEDAR SPRINGS,,75219,4142 CEDAR SPRINGS RD,04/1/17,FY2017,32.8134,-96.8121,,,
2,159,ZOE'S KITCHEN,Routine,05/11/2017,98,3878,OAK LAWN,#314,75219,3878 OAK LAWN #314,05/1/17,FY2017,32.8155,-96.8007,Restaurant,4.2,334
3,171,MANSION MAIN BAR,Routine,10/10/2017,99,2821,TURTLE CREEK,,75219,2821 TURTLE CREEK BLVD,10/1/17,FY2018,32.8041,-96.8073,Bar,4.6,433
4,190,PERSONALIZED LEARNING PREPARATORY AT SAM HOUSTON,Routine,05/23/2019,96,2827,THROCKMORTON,,75219,2827 THROCKMORTON ST,05/1/19,FY2019,32.8102,-96.8131,,,

In [22]:
# create a second data frame to use below and visualize the data frame
# df = dallas_open_data_df
df = dallas_open_data_df
df.head()

,index,Restaurant Name,Inspection Type,Inspection Date,Inspection Score,Street Number,Street Name,Street Unit,Zip,Street Address,Inspection Month,Inspection Year,Lat,Long,Type,Rating,Rating Count
0,0,FRESHII,Routine,10/31/2018,96,2414,VICTORY PARK,,75219,2414 VICTORY PARK LN,10/1/18,FY2019,32.7879,-96.8092,Restaurant,4.1,100
1,134,KROGER,Routine,04/27/2017,100,4142,CEDAR SPRINGS,,75219,4142 CEDAR SPRINGS RD,04/1/17,FY2017,32.8134,-96.8121,,,
2,159,ZOE'S KITCHEN,Routine,05/11/2017,98,3878,OAK LAWN,#314,75219,3878 OAK LAWN #314,05/1/17,FY2017,32.8155,-96.8007,Restaurant,4.2,334
3,171,MANSION MAIN BAR,Routine,10/10/2017,99,2821,TURTLE CREEK,,75219,2821 TURTLE CREEK BLVD,10/1/17,FY2018,32.8041,-96.8073,Bar,4.6,433
4,190,PERSONALIZED LEARNING PREPARATORY AT SAM HOUSTON,Routine,05/23/2019,96,2827,THROCKMORTON,,75219,2827 THROCKMORTON ST,05/1/19,FY2019,32.8102,-96.8131,,,

In [23]:
#check how many records are coming through
len(df)

50

In [ ]:
# set API URL and API key variables to pass through in the API request

In [ ]:
api_key_1 = yelp_api_key_Shane
# api_key_2 = yelp_api_key_Austin

headers_1 = {'Authorization': 'Bearer %s' % api_key_1}
# headers_2 = {'Authorization': 'Bearer %s' % api_key_2}

url = 'https://api.yelp.com/v3/businesses/search'

In [ ]:
# create blank/empty variables for the data input into and returned
# from the API get requests and counters

# # setup of variables (initially as blank); to be updated & used in the for loop with API call for each row
search_name = ""
search_address = ""
search_street_number = ""
search_street_name = ""
search_zip_code = ""
search_lat = ""
search_lng = ""

# setup counters, initially set to 1, to count cities with API calls that successfully retrieve data
attempt_counter = 1
record_counter = 1
set_of_records_counter = 1
record_in_set_counter = 1

# create list to hold all results, in the event we need to reference later
yelp_results_all = []

In [ ]:
# loop through rows in df, sending an API request for that restaurant
# using restaurant_name, street_number, street_name and zip_code

# start log for data retrieval from API Call
print("Beginning Data Retrieval")
print("-----------------------------")

# loop through df results & complete API call for each; append df with data when successful
for index, row in df.iterrows():
    # get restaurant data from df, setting respective variables for that restaurant
    search_name = row["Restaurant Name"]
    search_street_number = row["Street Number"]
    search_street_name = row["Street Name"]
    search_zip_code = row["Zip"]
    search_lat = row["Lat"]
    search_lng = row["Long"]
    
    # set API request parameters
    params = {
        "term": f"{search_name}",
        "location": f"{search_street_number} {search_street_name} Dallas, TX {search_zip_code}",
        "radius": 4000,
        "limit": 5,
        "sort_by": "best_match"
    }
    
    # set yelp_response to results from API request
    yelp_response = requests.get(url, params=params, headers=headers_1).json()
    
    # extend yelp_response_all to hold all results in case we need to use this later
    try:
        yelp_results_all.extend(yelp_response["businesses"])
    except:
        pass
    
    # traverse json object, set yelp_results to only business data for the best match result (0 index position)
    try:
        yelp_results = yelp_response["businesses"][0]
#         yelp_results = yelp_response["businesses"]
        print(f"Attempt: {attempt_counter} | Processing record {record_counter} ({record_in_set_counter} of set {set_of_records_counter}) | {search_name}, {search_street_number} {search_street_name} Dallas, TX {search_zip_code}")

        # not all results have all fields; to prevent error, try/except error handling
        try:
            yelp_category_1 = yelp_results["categories"][0]["title"]
            df.loc[index, "yelp_category_1"] = yelp_category_1
        except:
            pass
            
        try:
            yelp_category_2 = yelp_results["categories"][1]["title"]
            df.loc[index, "yelp_category_2"] = yelp_category_2
        except:
            pass
            
        try:
            yelp_category_3 = yelp_results["categories"][2]["title"]
            df.loc[index, "yelp_category_3"] = yelp_category_3
        except:
            pass
        
        try:
            yelp_latitude = yelp_results["coordinates"]["latitude"]
            df.loc[index, "yelp_lat"] = yelp_latitude
        except:
            pass
        
        try:
            yelp_longitude = yelp_results["coordinates"]["longitude"]
            df.loc[index, "yelp_lng"] = yelp_longitude
        except:
            pass
        
        try:
            yelp_is_closed = yelp_results["is_closed"]
            df.loc[index, "yelp_is_closed"] = yelp_is_closed
        except:
            pass
        
        try:
            yelp_address_1 = yelp_results["location"]["address1"]
            df.loc[index, "yelp_address_1"] = yelp_address_1
        except:
            pass
        
        try:
            yelp_address_2 = yelp_results["location"]["address2"]
            df.loc[index, "yelp_address_2"] = yelp_address_2
        except:
            pass
        
        try:
            yelp_zip_code = yelp_results["location"]["zip_code"]
            df.loc[index, "yelp_zip_code"] = yelp_zip_code
        except:
            pass
        
        try:
            yelp_name = yelp_results["name"]
            df.loc[index, "yelp_name"] = yelp_name
        except:
            pass
        
        try:
            yelp_price = yelp_results["price"]
            df.loc[index, "yelp_price"] = yelp_price
        except:
            pass
        
        try:
            yelp_rating = yelp_results["rating"]
            df.loc[index, "yelp_rating"] = yelp_rating
        except:
            pass
        
        try:
            yelp_review_count = yelp_results["review_count"]
            df.loc[index, "yelp_review_count"] = yelp_review_count
        except:
            pass

        # update counters
        attempt_counter += 1
        record_counter += 1
        
        # for set counters, once 50 is reached: reset record_in_set_counter = 1 and add 1 to set_counter
        if record_in_set_counter >= 50:
            set_of_records_counter += 1
            record_in_set_counter = 1
        else:
            record_in_set_counter += 1

    except:
        print(f"Skipping...  Attempt: {attempt_counter} | Record ({search_name} {search_street_number} {search_street_name} Dallas, TX {search_zip_code}) is not found.")
        # update attempt_counter
        attempt_counter += 1
#         pass

# end log for data retrieval; print "Data Retrieval Complete" when at the end of the loop
print("----------------------------")
print("Data Retrieval Complete")
print("----------------------------")

In [ ]:
# visualize data frame updated with API results
df.head()

In [ ]:
# loop through df: compare Dallas Open Data, Google and Yelp info and
# assign a match "confidence" score (FuzzyWuzzy WRatio) & visualize df

# loop through df results & complete Dallas Open Data, Google and Yelp info
for index, row in df.iterrows():
    
    # check to see if there is a Google rating for the record, flag it if so    
    if str(row["Rating"]) != "nan":
        df.loc[index, "google_result_flag"] = 1
    else:
        df.loc[index, "google_result_flag"] = 0
    
    # check to see if there is a yelp result for the row, if so continue and flag it
    if str(row["yelp_name"]) != "nan":
        df.loc[index, "yelp_result_flag"] = 1
        
        # assign FuzzyWuzzy WRatio score for Dallas Open Data value vs Yelp, when yelp result/value is available
        dod_name = row["Restaurant Name"]
        y_name = row["yelp_name"]
#         print(f"NAME: {dod_name} vs {y_name} FuzzyWuzzy WRatio: ", fuzz.WRatio(dod_name.lower(), y_name.lower()))
        df.loc[index, "name_match_score"] = fuzz.WRatio(dod_name.lower(), y_name.lower())
        
        dod_street_number = row["Street Number"]
        dod_street_name = row["Street Name"]
        dod_address = f"{dod_street_number} {dod_street_name}"
        y_address = row["yelp_address_1"]
#         print(f"ADDRESS: {dod_address} vs {y_address} FuzzyWuzzy WRatio: ", fuzz.WRatio(dod_address, y_address))
        df.loc[index, "address_match_score"] = fuzz.WRatio(dod_address, y_address)
        
        dod_lat = str(round(float(row["Lat"]),5))
        dod_lng = str(round(float(row["Long"]),5))
        y_lat = str(round(float(row["yelp_lat"]),5))
        y_lng = str(round(float(row["yelp_lng"]),5))
        
        dod_lat_lng = f"({dod_lat}, {dod_lng})"
        y_lat_lng = f"({y_lat}, {y_lng})"
#         print(f"LAT/LNG: {dod_lat_lng} vs {y_lat_lng} FuzzyWuzzy WRatio: ", fuzz.WRatio(dod_lat_lng, y_lat_lng))
        df.loc[index, "lat_lng_match_score"] = fuzz.WRatio(dod_lat_lng, y_lat_lng)
        
    else:
        df.loc[index, "yelp_result_flag"] = 0

df.head()

In [ ]:
# loop again through df results & complete Dallas Open Data, Google and Yelp info to flag high_match_score_flag
for index, row in df.iterrows():
    
    # check to see & flag if there is a yelp hit and a high confidence match score >= 70 for name and address
    if (row["yelp_result_flag"] == 1) & (row["name_match_score"] >= 80) & (row["address_match_score"] >= 80):
        df.loc[index, "high_match_score_flag"] = 1
    else:
        df.loc[index, "high_match_score_flag"] = 0
        
df.head()

In [ ]:
# organize / reorder columns in df & visualize

df = df.loc[:,["Restaurant Name",
               "yelp_name",
               "name_match_score",
               "Street Number",
               "Street Name",
               "Street Unit",
               "Street Address",
               "Zip",
               "yelp_address_1",
               "yelp_address_2",
               "yelp_zip_code",
               "address_match_score",
               "Lat",
               "Long",
               "yelp_lat",
               "yelp_lng",
               "lat_lng_match_score",
               "Inspection Score",
               "Inspection Type",
               "Inspection Date",
               "Inspection Month",
               "Inspection Year",
               "Rating",
               "Rating Count",
               "Type",
               "yelp_rating",
               "yelp_review_count",
               "yelp_price",
               "yelp_category_1",
               "yelp_category_2",
               "yelp_category_3",
               "yelp_is_closed",
               "google_result_flag",
               "yelp_result_flag",
               "high_match_score_flag"
              ]
           ]
df.head()

In [ ]:
# export restaurant_df to output CSV data file (Option)

In [ ]:
# df.to_csv(f"{output_data_filepath}yelp_output.csv", encoding="utf-8", index=False)
df.to_csv(f"{output_data_filepath}yelp_output.csv", encoding="UTF-16LE", index=False)